nav { 
    position: sticky;
    padding: 20px 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav-links-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.nav-links-item a{
    transition: 0.3s all;
}

.nav-links-item a:hover {
    color: var(--color-primary);
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: auto;
    width: auto;
    max-height: 25px;
    max-width: 200px;
}

#contact-btn {
  font-family: 'Inter', sans-serif;
  padding: 8px 16px;                     
  background-color: var(--color-bg);
  color: var(--color-primary);         
  cursor: pointer;
  border-radius: 20px;
  font-size: var(--fs-base);                  
  font-weight: 500;
  border: 2px solid black;
  transition: all 0.3s ease;    
  text-decoration: none;      
}

#contact-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-color: var(--color-primary);     
}


